# -FrontPage-

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName elpayoquedibuja.org
AuthUserFile /var/www/vhosts/elpayoquedibuja.org/httpdocs/_vti_pvt/service.pwd
AuthGroupFile /var/www/vhosts/elpayoquedibuja.org/httpdocs/_vti_pvt/service.grp
<Files index.html>
AddType application/x-httpd-php .html
</Files>
