@charset "UTF-8";



/* Color de los bloques de texto que suelen corresponder con la clase "noticia" GRIS */
#recomen_breves2, #recomendaciones, #recomendaciones1, #recomendaciones2, #recomendaciones3, #quien-soy1, #quien-soy2, #quien-soy3, #hijos-emigrados-txt, #bloquekerandoj4dcha, #bloque6dcha, #bloque10dcha, #bloque11dcha, #bloque14, #bloque16, #bloque17, #bloque18dcha, #visita-titulo-txt, #visita-1b, #visita-2c, #bloque18-3, #nafsa-1b, #nafsa-2b, #aguilera-txt, #rolling-humor-txt, #nafsa-3b, #ilustracion-tecnica, #certamen-txt, #certamen-titulo, #certamen-columna1, #certamen-columna2, #certamen-txt1, #certamen-txt2, #kerandoj-titulo, #mujer-titulo, #apunte-carboncillo-txt, #apunte-lapiz-azul-txt, #acuarela-txt, #monte-prohibido-txt, #euskalduna-txt, #pegatina-txt, #selzi-txt, #carretilla-txt, #postal-free-txt, #kerandoj-ani-txt, #er_kaledorkayiko, #nafsa-2c, #hoyporhoy-txt-entrevista, #hoyporhoy-txt, #kdk-gazteak, #berdintasuna-txt, #foto-inicio-txt, #redox, #artevia, #arco, #museo-foto-txt, #formacion-dibujo-txt, #cartel-20-aniversario-txt, #certamen-cd2, #certamen-fer, #certamen-jenny, #certamen-esther, #certamen-manuel, #certamen-los-que-saben, #certamen-sintetizador, #certamen-guitarra, #certamen-2009-txt, #cartel-premio-txt, #premio-txt1, #premio-txt2, #triptico-txt1,#triptico-txt1b, #triptico-txt2, #libro-colorear-txt, #chapas-txt, #chapas-bn-txt, #chapas-color-txt, #libro-txt, #tarjetas-karipen-txt, #buscador-google-txt, #buscador-technorati-txt, #cartel-20-aniversario-grupo-txt, #deusto-txt, #premios-txt, #goya-txt, #reconocimiento, #universidad-deusto-txt, #salvapantallas-txt, #certamen1-abajo, #kerandoj-descripcion, #kdk-gazteak1, #area-mujer2a, #area-mujer3, #kerandoj-web-descripcion, #febrero, #calendario-intro, #calendario1, #calendario2, #calendario3, #calendario1-txt, #calendario2-txt, #calendario3-txt, #calendario1b-txt, #calendario2b-txt, #calendario3b-txt, #mes1-txt, #mes2-txt, #mes3-txt, #mes4-txt, #mes5-txt, #mes6-txt, #marzo-txt, #intro-premio, #pilar, #txukela-txt, #esperando-txt, #marcapaginas-txt, #marcapaginas-txt-tipo1, #marcapaginas-txt-tipo2, #marcapaginas-aniversario-txt, #fotoprix-grupo, #fotoprix-pie, #columna1, #columna2, #columna3, #revista-kerandoj, #kerandoj-titular, #certamen-portada-txt, #postal-free-local-txt, #marcapaginas-titulo, #txukela-traduccion, #josu-bergara-txt, #kerman-bloque1, #tarjetas-karipen-3, #mujeres-tv-link, #clara-ya-anda-img, #clara-ya-anda-txt, #capitan-rom-txt, #capitan-rom-i-txt, #hermion-txt, #hermion-creditos, #capitan-rom-nota, #gurpegi, #gabarra-txt, #mina-del-morro-txt1, #mina-del-morro-txt2, #galeria-mina-del-morro, #puente-la-salve-txt, #hamilton-noticia-urls, #iniesta-txt, #pero-entonces, #marcapaginas-india-txt, #gentes-del-mundo-titulo, #miniatura6, #cuadernos-txt, #miniaturas-marcadores5, #fotoprix-1, #fotoprix-2, #humor-1, #estudio-arrieta3, #contacto, #facebook1, #acceder2, #acceder3, #acceder4x, #acceder5y, #acceder6z, #gracias-colegios1, #gracias-colegios3, #gracias-colegios4, #gracias-colegios2-txt, #gracias-colegios4-txt, #gracias-colegios4a-txt, #acceder7, #acceder8, #acceder9, #bicicleta-grupo, #promociones-1, #promociones-1-pie, #promociones-2-pie, #promociones-3-pie, #promociones-4-pie, #escribeme, #twitter_div, #twitter-titulo, #friends, #escribeme-intro, #escribeme-letreros, #navidad1, #navidad2, #navidad6, #navidad4, #inaki-sieira-2, #inaki-sieira-1, #tobogan-txt, #formacion-academica-1, #formacion-academica-2, #formacion-academica-3, #nosotras-las-artemisas, #nosotras-flecha, #nosotras-las-artemisas-txt, #salvados-2, #salvados-3, #artemisa-1, #artemisa-2, #artemisa-3, #sarah-carmona-1, #sarah-carmona-2, #sarah-carmona-3, #periodista, #padres-madres-1, #padres-madres-2, #padres-madres-3, #principal-1, #principal-2, #principal-3, #a-la-escuela-1, #a-la-escuela-2, #a-la-escuela-3, #a-la-escuela-4, #a-la-escuela-5, #a-la-escuela-6, #marcapaginas1, #colorear-1, #colorear-2, #colorear-3, #indice1, #indice2, #indice3, #indice4, #indice5, #indice1-txt, #indice2-txt, #indice3-txt, #indice4-txt, #indice5-txt, #indice6, #indice7, #indice8, #indice9, #indice10, #indice6-txt, #indice7-txt, #indice8-txt, #indice9-txt, #indice10-txt, #colorear-4, #intrusivo, #intrusivo-1, #intrusivo-2, #intrusivo-3, #social, #social-1, #social-2, #social-3, #jornadas-vi, #jornadas-vi-1, #jornadas-vi-2, #jornadas-vi-1a, #jornadas-vi-1b, #azoka, #azoka-1, #azoka-2, #azoka-3, #book-group, #woman-gypsy, #patrizia-2, #dafne, #patrizia-3b, #patrizia-b, #patrizia-2b, #dafne-b, #patrizia-4b, #patrizia-5b, #patrizia-metodo-de-trabajo, #patrizia-metodo-de-trabajo-b, #cv1b, #cv2b, #cv3b, #cv4b, #cv5b, #cv6b, #cv7b, #cv8b, #cv9b, #cv10b, #pero-que, #kontainer-txt, #kontainer-1-txt, #kontainer-2-txt, #kontainer-3-txt, #novedades, #actualidad, #columna-1, #oyer, #comic-sans, #carlos-castilla, #puente-grupo, #puente-grupo-en, #cuadernos-3, #euskalgym-txt-grupo, #euskalgym-txt, #almas-gemelas-televisivas, #where-is-bilbao, #eqa, #eqa-2, #eqa-3, #eqa-4, #eqa-5, #eqa-6,#eqa-7, #eqa-8, #eqa-9, #eqa-10, #abanicos-grupo-2, #abanicos-grupo-1, #libros-digitales, #libros-digitales-2, #libros-digitales-3, #mesa-de-trabajo-1, #mesa-de-trabajo-2, #mesa-de-trabajo-3, #sarah-carmona-perfil, #la-excelencia, #jon-jimenez, #play, #athletic, #el-culto-de-miribilla, #el-tio-moro, #la-importancia-de-los-gestos, #cv3-1, #cv3-2, #cv3-3, #cv3-4, #cv3-5, #cv3-6, #cv3-7, #cv3-8, #recomendaciones-index, #cv3-9, #cv3-10, #calendario-portada-txt1, #calendario-portada-txt2, #puente-quien2 {
background-color:#f1efeb;
}

/* Color Rosa */

#fad-grupo {
	background-color:#FCF;
}

/* Color amarillo "pastel" */
#bilbao, #where-is-bilbao-2 {
	background-color:#efdc3d;
}

/* Azul claro sección Humor -> Artbox */

#heidi-txt, #disney-txt, #bob-esponja-txt, #sinchan-txt, #ipod-txt, #zoidberg-portada-txt1 {
background-color:#bfcad5;
}

/* Azul claro LINKS */

#links-escuela, #links-escuela2, #links-escuela3 {
background-color:#9CF;
}

/* Color de la sección Blog de apuntes */
#blogdeapuntes4, #blogdeapuntes5, #blogdeapuntes6, #blogdeapuntes7, #blogdeapuntes8, #blogdeapuntes9, #blogdeapuntes10, #blogdeapuntes11, #blogdeapuntes12 {
background-color:red;
}

.bga-arriba {
background-color:#7d9398;	
}


/* Color de las cabeceras */
#seccion_blogdeapuntes {
background-color:#f1efeb;
}

#titulo_web, #descripcion  {
background-color:white;
background-image:url(../../images/mapa.jpg);
background-repeat:no-repeat;
color:#566165;
}

.link-nav-principales {
color:#4b4b48;
font-weight:bold;

}


.titulos_secciones {
	background-color:#333;	
/*background-color:#20517c;	*/
}

.h1 {
color:red;		
}

/* Color secciones del index de Blog de apuntes */




#portada-1, #portada  {
	 background-color:#000;	
}

